:root {
    --input-margin-bottom: 0.625em;
    --bg-color: #F26B0F;
    --bg2-color: #FCC737;
    --h1-bg-color: #E73879;
    --base-font-color: #7E1891;/*magenta;*/
    --resizable-width: 448px;
    --base-font-size: calc(16 * var(--resizable-width) / 448);/* pixels to rem conversion */
}
body {
    background-color: var(--bg-color);
    color: var(--base-font-color);
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}
h1 {
    width: fit-content;
    padding: 0.5em 1em;
    margin-inline: auto;
    margin-block: 1em;
    text-align: center;
    border-radius: 150px;
    color: var(--bg2-color);
    background-color: var(--h1-bg-color);
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
}
.img-block {
    position: relative;
    max-width: var(--resizable-width);
    transition: max-width 0.1s ease;
    margin: 5px;
    text-align: center;
}
.cover {
    max-width: 98%;
    border-radius: 20px;
    border: 0px solid var(--bg2-color);
    transition: filter 0.3s ease;
    overflow: hidden;
}
.img-block:hover .cover {
    filter: brightness(30%);
}
.img-overlay {
    position: absolute;
    width: 80%;
    padding-inline: 10%;
    /* center the overlay text vertically */
    top: 50%;
    transform: translateY(-50%);
    /* box-sizing: border-box;*/
    font-size: var(--base-font-size);
    opacity: 0;
    transition: opacity 0.1s ease;
    text-shadow: 0 0 5px black;
}
.img-overlay h2 {
    margin-block: 1rem 0.3rem;
}
.availability {
    display: -webkit-box;
    margin-block: 2rem 1rem;
    -webkit-line-clamp: 3;        /* Number of lines before cutting off */
    line-clamp: 3;                /* Standard property for compatibility */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(0.8 * var(--base-font-size));
}
.img-block:hover .img-overlay {
    opacity: 1;
}
.input-container {
    width: fit-content;
    margin-inline: auto;
    padding-block: 0.7em calc(1em - var(--input-margin-bottom));
    padding-inline: 1.5em;
    text-align: center;
    background-color: var(--bg2-color);
    border-style: dashed;
    border-width: 2px;
    border-color: var(--base-font-color);
    border-radius: 15px;
}
.input-container > * {
    max-width: 170px;
    margin-bottom: var(--input-margin-bottom);
    margin-inline: 0.75em;
    border-radius: 5px;
    background-color: azure;/*#3c3f46;#2e3440;*/
}
.range-box{
    margin-top: 1em;
    padding-inline: 20%;
}
.range-box p {
    margin: 0;
    font-size: 0.8rem;
}
.slider {
    width: 100%;
}
.flag {
    margin-inline: 1px;
    border-radius: 25%;
    width: calc(24 * var(--resizable-width) / 448);;
}

/* Splash screen CSS */

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--base-font-color);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 1s ease;
}
#splash-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}
#splash-title {
    position: absolute;
    font-size: 2.5em;
    text-align: center;
    z-index: -1;
}
#splash-title.fade-out {
    display: inline-block;
    transform: translateY(-200%);
    font-size: 2em;
    transition: transform 1s ease, font-size 1s ease;
}

.hand {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: auto;
    animation: oscillate 2s ease-in-out infinite;
}
.left-hand {
    left: 0;
}
.right-hand {
    right: 0;
    scale: -1 1;
}

@keyframes oscillate {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(15%);
    }
    66% {
      transform: translateX(-15%);
    }
    100% {
      transform: translateX(0);
    }
}