:root {
    --input-margin-bottom: 0.625em;
    --blue: #4479ed;
}
body {
    background-color: #1a1d21;
    color: var(--blue);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}
h1 {
    text-align: center;
    margin-block: 1em;
    color: #82aaff;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.img-block {
    position: relative;
    margin-block: 5px;
    margin-inline: auto;
    text-align: center;
    color: white;
}
.image-container img {
    max-width: 98%;
    border-radius: 20px;
    border: 0px solid var(--blue);
    transition: filter 0.3s ease;
    overflow: hidden;
}
.image-container img:hover {
    filter: brightness(30%);
}
.img-overlay {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-block: 5%;
    padding-inline: 10%;
    color: white;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.1s ease;
    text-shadow: 0 0 5px black;
    pointer-events: none;
}
.img-block:hover .img-overlay {
    opacity: 1;
}
.input-container {
    margin-inline: 5%;
    padding-block: 0.7em calc(1em - var(--input-margin-bottom));
    padding-inline: 1.5em;
    background-color: #252a34;
    border-radius: 0.5em;
    border-style: dashed;
    border-width: 2px;
    border-color: var(--blue);
    border-radius: 15px;
}
.input-container > * {
    margin-bottom: var(--input-margin-bottom);
    margin-inline: 0.75em;
    color: #d1d9e6;
    caret-color: #d1d9e6;
    background-color: #2e3440;
}
input::placeholder {
    color: #a3bffa;
}

/* Splash screen CSS */

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1d21;
    color: #82aaff;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 1s ease;
    font-family: 'Courier New', Courier, monospace;
}
#splash-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}
#splash-screen h1 {
    position: absolute;
    font-size: 2.5em;
    text-align: center;
    z-index: 2;
}

.hand {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: auto;
    animation: oscillate 2s ease-in-out infinite;
}
.left-hand {
    left: 0;
}
.right-hand {
    right: 0;
    scale: -1 1;
}

@keyframes oscillate {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(15%);
    }
    100% {
      transform: translateX(0);
    }
}